<h1>I'm the one in charge here!</h1>
<img src="http://2.bp.blogspot.com/-U-1qomtJRmE/TV6A7mh3wII/AAAAAAAAfDg/saq1vM-anQU/s1600/Weird_Faces_A_Guy_Can_Make_30.jpg">
<p>So Buy Baby! Call me on 123-456789 or you can add me on Skype</p>
<br>
<p>Skype name = MonoBroLee</p>
